.navbar {
	width: 100%;
	background-color: #093a3e;
	overflow: hidden;
	justify-content: space-between;
	display: flex;
}

.navbar a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
	background-color: #ddd;
	color: black;
}

.navbar img {
	float: left;
	height: 50px;
	margin-right: 20px;
}


.search-container {
	position: relative;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	background-color: #093a3e;
	border-radius: 20px 0px 0px 20px;
  }
  
  .search-container input[type=text] {
	padding: 6px;
	border: none;
	margin: 0;
	width: 130px;
	border-radius: 20px;
  }
  
  .search-container button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 6px 10px;
	border-radius: 0px 20px 20px 0px;
	background-color: #ccc;
	color: black;
	border: none;
	cursor: pointer;
	outline: none;
	border: none;
	
  }