<div class="navbar">
  <div class="menu">
    <img src="../../assets/img/logo.jpeg" alt="Logo de la empresa" class="navbar-logo">
    <a routerLink="">Inicio</a>
    <a routerLink="/create/image">Crear</a>
    <a routerLink="/back/office">BackOffice</a>
  </div>
    <div class="search-container">
      <form action="/busqueda">
        <input type="text" placeholder="Buscar...">
      </form>
      <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
      </div>
  </div>