<div class="container">
  <h1 class="mt-4 mb-4">Back Office Tables</h1>
  <div class="btn-group" role="group" aria-label="Basic example">
    <div class="item">
      <a routerLink="/list/kingdoms" class="btn btn-primary">kingdoms</a>
    </div>
    <div class="item">
      <a (click)="goToTaxon('phylum')" class="btn btn-primary">phylum</a>
    </div>
    <div class="item">
      <a (click)="goToTaxon('class')" class="btn btn-primary">class</a>
    </div>
    <div class="item">
      <a (click)="goToTaxon('order')" class="btn btn-primary">order</a>
    </div>
    <div class="item">
      <a (click)="goToTaxon('family')" class="btn btn-primary">family</a>
    </div>
    <div class="item">
      <a (click)="goToTaxon('genus')" class="btn btn-primary">genus</a>
    </div>
    <div class="item">
      <a (click)="goToTaxon('specie')" class="btn btn-primary">specie</a>
    </div>
  </div>
</div>
