<div class="container">
  <h1 class="mt-4 mb-4">Back Office Tables</h1>
  <div class="btn-group" role="group" aria-label="Basic example">
    <div class="item">
      <a routerLink="/list/kingdoms" class="btn btn-primary">kingdoms</a>
    </div>
    <div class="item">
      <a routerLink="/list/phylum" class="btn btn-primary">Orders Table</a>
    </div>
    <div class="item">
      <a routerLink="/list/class" class="btn btn-primary">Products Table</a>
    </div>
    <div class="item">
      <a routerLink="/list/order" class="btn btn-primary">Products Table</a>
    </div>
    <div class="item">
      <a routerLink="/list/family" class="btn btn-primary">Products Table</a>
    </div>
    <div class="item">
      <a routerLink="/list/gender" class="btn btn-primary">Products Table</a>
    </div>
    <div class="item">
      <a routerLink="/list/specie" class="btn btn-primary">Products Table</a>
    </div>
    <div class="item">
      <a routerLink="/list/imagenes" class="btn btn-primary">Products Table</a>
    </div>
  </div>
</div>
