<!DOCTYPE html>
<html>
<head>
	<title>Atlas</title>
	<link rel="stylesheet" type="text/css" href="/style/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="navbar">
		<img src="img/logo.jpeg" alt="Logo de la empresa" class="navbar-logo">
		<a href="#">Inicio</a>
		<a href="/create/image">Crear</a>
		<a href="/back/office">BackOffice</a>
		<div class="search-container">
			<form action="/busqueda">
			  <input type="text" placeholder="Buscar...">
			</form>
			<button class="search-button" type="submit"><i class="fa fa-search"></i></button>
		  </div>
	</div>

	<div class="gallery">
		<a href="/page/tucan">
		<img src="/img/tucan.jpg" alt="Imagen 1">
	</a>
		<img src="/img/jirafa.jpeg" alt="Imagen 2">
		<img src="img/atlas.jpg" alt="Imagen 3">

	  </div>
</body>
</html>
