<!DOCTYPE html>
<html>
<head>
	<title>Página con imagen y tabla</title>
	<link rel="stylesheet" type="text/css" href="/style/singlePage.css">
</head>
<body>
	<div class="container">
        <h1>Tucan</h1>
		<img class="image" src="/img/tucan.jpg" alt="Descripción de la imagen">
		<div class="text">
			<h1>Título de la imagen</h1>
			<p>Información sobre la imagen aquí...</p>
		</div>
		<table class="tabla">
			<tr>
				<th>Encabezado de la columna 1</th>
				<th>Encabezado de la columna 2</th>
				<th>Encabezado de la columna 3</th>
			</tr>
			<tr>
				<td>Dato de la fila 1, columna 1</td>
				<td>Dato de la fila 1, columna 2</td>
				<td>Dato de la fila 1, columna 3</td>
			</tr>
			<tr>
				<td>Dato de la fila 2, columna 1</td>
				<td>Dato de la fila 2, columna 2</td>
				<td>Dato de la fila 2, columna 3</td>
			</tr>
		</table>
	</div>
</body>
</html>
