<div class="container">
  <h1>{{ image.name }}</h1>
  <img
    class="image"
    [src]="image.path"
    [alt]="image.description"
  />
  <div class="text">
    <p>{{image.description}}</p>
  </div>
</div>

<div class="infot">
    <h1 class="title">Taxonomia</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre cientifico</th>
        <th scope="col">Autor</th>
        <th scope="col">Año de publicacion</th>
      </tr>
    </thead>
    <tbody>

        <tr *ngFor="let taxon of image.taxon">
            <td>{{ taxon.id }}</td>
            <td>{{ taxon.scientificName }}</td>
            <td>{{ taxon.author }}</td>
            <td>{{ taxon.publicationYear }}</td>
          </tr>

    </tbody>
  </table>
</div>

<div class="infot">
    <h1 class="title">Informacion</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Fecha de creacion</th>
            <th scope="col">Autor</th>
            <th scope="col">licencia</th>
          </tr>
        </thead>
        <tbody> 
            <tr>
                <td>{{ image.creationDate }}</td>
                <td>{{ image.author.name }}</td>
                <td>{{ image.license }}</td>
              </tr>            
    
        </tbody>
      </table>
    </div>