/* Estilos para el encabezado */
h1 {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* Estilos para la tabla */
.table {
	margin-bottom: 2rem;
}

/* Estilos para los botones */
.btn {
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}

/* Estilos para el botón de agregar */
.btn-success {
	margin-bottom: 2rem;
}

/* Estilos para los iconos en los botones */
.fa {
	margin-right: 0.5rem;
}
