<div class="titulo">
    <h1>Kingdom</h1>
</div>

<div class="container">
    <h1>Clases taxonómicas</h1>
    <div class="table-container">
      <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Autor</th>
                <th>Año de publicacion</th>
            </tr>
        </thead>
        <tbody>
            <!-- Itera sobre la lista de clases taxonómicas y muestra los datos en la tabla -->
            <tr *ngFor="let species of data">
                <td >{{species.id}}</td>
                <td >{{species.scientificName}}</td>
                <td >{{species.author}}</td>
                <td >{{species.publicationYear}} </td>
                <td>
                    <!-- Agrega botones para editar y eliminar cada clase taxonómica -->
                    <a class="btn btn-primary" (click)="editKingdom(species.id)" > <i class="fas fa-edit"></i> Editar</a>
                    <a class="btn btn-danger" (click)="deleteKingdom(species.id)" > <i class="fas fa-trash-alt"></i> Eliminar</a>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="button-container">
      <a class="btn btn-success" href="/create/taxon"><i class="fas fa-plus"></i> Agregar clase taxonómica</a>
    </div>
  </div>
  