<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Create Taxon</title>
	<link rel="stylesheet" type="text/css" href="/style/createTaxon.css">
</head>
<body>
    <div class="titulo">
        <h1>Crear Taxon</h1>
    </div>
    
    <div>
    <form>
        <label for="nombre-cientifico">Nombre científico:</label>
        <input type="text" id="nombre-cientifico" name="nombre-cientifico"><br>
      
        <label for="autor">Autor:</label>
        <select id="autor" name="autor">
          <option value="Linneo">Linneo</option>
          <option value="Darwin">Darwin</option>
          <option value="Wallace">Wallace</option>
        </select>
        <button type="button" onclick="agregarAutor()">Agregar</button><br>
      
        <label for="anno-publicacion">Año de publicación:</label>
        <input type="number" id="anno-publicacion" name="anno-publicacion" min="1000" max="9999"><br>
      
        <label for="ascendente">Ascendente del taxón:</label>
        <select id="ascendente" name="ascendente">
          <option value="Animalia">Animalia</option>
          <option value="Plantae">Plantae</option>
          <option value="Fungi">Fungi</option>
        </select>
        <button type="button" onclick="agregarAscendente()">Agregar</button><br>
      
        <input type="submit" value="Enviar">
      </form>
    </div>
          
</body>
</html>