<!DOCTYPE html>
<html>
<head>
	<title>Atlas</title>
	<link rel="stylesheet" type="text/css" href="src/main/resources/static/style/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="navbar">
		<img src="img/logo.jpeg" alt="Logo de la empresa" class="navbar-logo">
		<a href="#">Inicio</a>
		<a href="#">Acerca de</a>
		<a href="#">Servicios</a>
		<a href="#">Contacto</a>
		<div class="search-container">
			<form action="/busqueda">
			  <input type="text" placeholder="Buscar...">
			</form>
			<button class="search-button" type="submit"><i class="fa fa-search"></i></button>
		  </div>
	</div>

	<div class="gallery">
		<a href="http://127.0.0.1:5500/index.html#">
		<img src="img/maxresdefault.jpg" alt="Imagen 1">
	</a>
		<img src="src/main/resources/static/img/atlas.jpg" alt="Imagen 2">
		<img src="src/main/resources/static/img/jirafa.jpeg" alt="Imagen 3">
		<img src="src/main/resources/static/img/tucan.jpg" alt="Imagen 4">
	  </div>
</body>
</html>
